<img id="clearBin" src="images/rubbish-bin.png" alt=" " style="position:fixed;right:0%;height:31px;  top:16px; float:right; margin-right:15px;z-index:999999;"  ng-show="event.checkList.length>0" />

<div id="clearCartPopUp" style="position:fixed;width:100vh;height:100vh;background:grey;z-index:0;display:none;opacity:0.5;">

</div>
<div id="clearCartPopUp2" style="padding:5px;border-radius:3px;font-size:20px;z-index:10;position:fixed;width:300px;height:150px;text-align:center;color:grey;background:white;top:50%;left:50%;margin-top:-100px;margin-left:-150px;display:none;">
	<div style="height:70%">Are you sure you want to remove all items from the cart?</div>
	<div style="height:20%"><div id="okClear" style="width:50%;float:left;color:#89c08d"  ng-click="event.clearCart();">Ok</div><div id="cancelClear" style="width:50%;float:right;color:#c22929;">Cancel</div></div>
</div>

<div ng-show="event.checkList.length==0" class="bigBack"  ui-sref="home" >
	Back
</div>
<div ng-show="event.checkList.length>0" class="smallBack"  ui-sref="home" >
	Back
</div>
<div ng-show="event.checkList.length>0" class="proceedToCheckout" ng-click="event.post1();" >
	Proceed to Checkout
</div>
<div style="padding-top:20px;">
</div>
<div id="emptyCartPopup" style="font-family: 'Raleway', sans-serif;text-align:center;z-index:90;position:fixed;width:90%;top:50%;margin-top:-125px;font-size:23px;height:250px;margin-left:5%;margin-right:5%;border-radius:3px;box-shadow:0px 0px  6px #888888; background:#ffffff;color:#6d6c6c;padding-top:4%;opacity:0.7;" ng-show="event.checkList.length==0" >
	<div>
		<img src="images/emptycart2.png" alt=" " style="height:90px;"/>
	</div>
	Your food basket is empty. Place your order, get choosing!
	
</div>
<div class="banner-info"  id="sideSpacing" ng-show="event.checkList.length>0" >
				<div class=" header-right">
					<h6 style="text-align:center;">Your Cart</h6>
					<ul class="address">
						 <li ng-repeat="food in event.checkList" id="cartItem-{{$index}}" style="border-bottom: 1.5px dotted #AFAFAF;margin-top:5%;padding-bottom:1%;" ng-init="event.addOnsPrice(food)">
						 	<div class="cart_veg_nveg" ng-show="food.vegYn=='Y'" >
											<div style="width:12px; height:12px;border:1px solid #4fb66d; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#4fb66d;">
													
												</div>
											
											</div>
							</div>
							<div class="cart_veg_nveg" ng-show="food.vegYn=='N'" >
											<div style="width:12px; height:12px;border:1px solid #cf3721; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#cf3721;">
													
												</div>
											
											</div>
							</div>
						 	<div  class="cart_item_name">
						 		{{food.name}}
						 	</div>
						 	<div style="height:20px;float:right;text-align:right;" class="cart_plus_minus" >
												<div style="float:left; height:20px; width:20px; border-radius:10px 10px 10px 10px; background:#e64539; " ng-click="event.decItemFromCart($index);">
													<div style="margin-top:1px;margin-left:1px;height:18px; width:18px; border-radius:9px 9px 9px 9px; background:rgba(253, 246, 246, 1);">
														<div style="width:12px; height:2px;position:relative;top:45%;left:50%;margin-left:-6px;background:#e64539;">
															
														</div>
													</div>
												</div>
											 	<div style="float:left">&emsp;{{food.quantity}}&emsp;</div>
												<div style="float:left; height:20px; width:20px; border-radius:10px 10px 10px 10px; background:#4fb66d;" ng-click="event.incItemFromCart($index);">
													<div style="margin-top:1px;margin-left:1px;height:18px; width:18px; border-radius:9px 9px 9px 9px; background:rgba(253, 246, 246, 1);">
														<div style="width:12px; height:2px;position:relative;top:45%;left:50%;margin-left:-6px;background:#4fb66d;">
															
														</div>
														<div style="width:2px; height:12px; position:relative; left:50%;top:50%;margin-top:-8px; margin-left:-1px; background:#4fb66d;">
														
														</div>
													</div>
												</div>
											</div>
							<div style="clear:both;width:100%;">
								<div ng-repeat="add in food.addonGroups">
								 	<div ng-repeat="addons in add.addOns | filter:{ selected: true }" style="font-size: 12px;">
								 		<div style="color:#525a54;float:left;">
								 			+ {{addons.name}}
								 		</div>
								 		
								 		<br>
								 	</div>
							 	</div>
						 	</div>	
							<div style="clear:both;width:100%;">
							 	<div style="width:40%;float:left">			 		
								 	<div class="cart_remove" id="remove-{{$index}}" ng-click="event.removeCartItem($index);">
								 			
								 		Remove
								 			
								 	</div>
							 	</div>
							 	<div style="font-size:14px;text-align:right;padding-top:9px;">
							 		&#8377 {{food.quantity*food.price}}
							 	</div>	
						 	</div>						 	
						 </li>						 
						 <br>
						 <div>
						 	<div style=" float:right; color:#525a54; font-size:14px;">
						 		Total Amount: &#8377 {{event.totalCost}}
						 	</div>
						 	<div style=" float:left; color:#525a54;  font-size:14px;">
						 		Total Quantity: {{event.totalQuantity}}
						 	</div>
						 	<br>
						 </div>
						 <br>
						 <div style="border-bottom: 1px double #AFAFAF;">
						 </div>
						 <br>

					</ul>
				</div>
				<div class="clearfix"> </div>
</div>
</div>
<div style="padding-top:140px;">
<script>
$(document).ready(function(){
	
	$("#menubutton").css({"opacity":"0","pointer-events": "none","cursor": "default"});
})
</script>
<script>
$("#clearBin").click(function(){
	$("#clearCartPopUp").css({display:'block'});
	$("#clearCartPopUp2").css({display:'block'});
})
$("#cancelClear").click(function(){
	$("#clearCartPopUp").css({display:'none'});
	$("#clearCartPopUp2").css({display:'none'});
})
$("#okClear").click(function(){
	$("#clearCartPopUp").css({display:'none'});
	$("#clearCartPopUp2").css({display:'none'});
})
</script>
