<a href="/yourOrders">
	<img  src="images/invoice-4.png" alt=" " / style="position:fixed;right:0%;height:32px;  top:16px; float:right; margin-right:62px;z-index:9999999;" >
</a>

<div id="restaurantClosed" style="position:fixed;width:100vh;height:100vh;background:grey;z-index:0;opacity:0.5;" ng-show="event.isRestaurantClosed">

</div>
<div id="restaurantClosed2" style="padding:5px;border-radius:3px;font-size:20px;z-index:10;position:fixed;width:300px;height:140px;text-align:center;color:grey;background:white;top:50%;left:50%;margin-top:-100px;margin-left:-150px;" ng-show="event.isRestaurantClosed">
	<div style="height:80%">The restaurant has closed for the day. Please come again later.</div>
	<div style="height:20%"><div  style="width:100%;color:#89c08d;text-align:center;"><a href="/shops">Back</a></div></div>
</div>

<div id="clearCartPopUp" style="position:fixed;width:100vh;height:100vh;background:grey;z-index:0;display:none;opacity:0.5;">

</div>
<div id="clearCartPopUp2" style="padding:5px;border-radius:3px;font-size:20px;z-index:10;position:fixed;width:300px;height:200px;text-align:center;color:grey;background:white;top:50%;left:50%;margin-top:-100px;margin-left:-150px;display:none;">
	<div style="height:80%">You have added different variations of this item.Please remove them from the cart separately.</div>
	<div style="height:20%"><div id="okClear" style="width:50%;float:left;color:#89c08d"  ui-sref="cart">View Cart</div><div id="cancelClear" style="width:50%;float:right;color:#c22929;">Cancel</div></div>
</div>

<a id="fullcart" style="z-index:12;font-size:8px" ng-click="event.post1();"><img src="images/instantforward.png" alt=" "  style="height:25px;float:left;margin-top:8px;margin-left:13px"/ ><span>Checkout</span></a>

<a id="fullcart2" style="z-index:12; display:none" ><i><img src="images/instantforward.png" alt=" " style="height:30px;" / ></i></a>

<a id="checkcartNotify" style="display:none;" ><i></i></a>

<a id="return-to-top" style="z-index:11; "><i><img src="images/up4.png" alt=" " style="height:15px;"/ ></i></a>

<a id="checkcart" style="z-index:11;" ui-sref="cart" ><i><img src="images/cartfinal.png" alt=" "  style="height:56px;"/ ></i></a>

<a id="totalorder" style="z-index:3; " ><div id="qty" style="float:left;"><b>Qty:{{event.totalQuantity}}</b></div><div id="cost" style="float:right;"><b>₹ {{event.totalCost}}.00</b></div></a>

<a id="returnBackTo" style="z-index:12;" href="/shops"><i><img src="images/rere.png" alt=" " style="height:24px;"/ ></i></a>

<div id="instantCheckPopUp" style="z-index:999999;padding-top:3%;">You have added different variations of this item.Please visit the cart to remove them separately.</div>

<div id="instantCheckPopUp2" style="z-index:999999;padding-top:3%;">Your food basket is empty. Place your order, get choosing!</div>

<div ng-init="event.checkMenuWithCart();event.changeHeading();">
<div style="padding-top:20px;">
</div>
<div class="banner-info" ng-repeat="cat in event.foodItems"  style="margin-left:7px;margin-right:7px;"ng-click="event.hide();" >
				<div class=" header-right">
					<h6 id=" {{cat.name.split(' ').join('')}}" style="text-align:left;padding-left:2%;">{{cat.name}} <img src="{{cat.imgUrl}}" class="imageAlign" style="float:right; height:35px; margin-right:3%; "></h6>
					<p style="margin-left:2%;color:#b4b2b2;text-transform: uppercase;font-weight: 500;font-size:13px;font-family: 'Asap', sans-serif;margin-top:-9px;display:block;float:left;letter-spacing: 1px;">{{cat.subCategoryName}}</p>
					<ul class="address">
					
					    <li ng-repeat="fooditem in cat.productGroups track by $index" class="webMenu" style="display:inline-block;" >
					    		
								<div  class="dottedLining" >

									<div id="div-{{cat.name}}-{{$index}}" style="color:#525a54; padding-left:2%; padding-top:2%; padding-bottom:3%;padding-right:2%;">
										<div style="float:left;opacity:0.8; margin-top:6px;" ng-show="fooditem.products[0].vegYn=='Y'" >
											<div style="width:12px; height:12px;border:1px solid #4fb66d; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#4fb66d;">
													
												</div>
											
											</div>
										</div>
										<div style="float:left;opacity:0.8; margin-top:6px;" ng-show="fooditem.products[0].vegYn=='N'" >
											<div style="width:12px; height:12px;border:1px solid #cf3721; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#cf3721;">
													
												</div>
											
											</div>
										</div>
										<div style="float:left; width:60%; margin-left:6px; font-family: 'Raleway', sans-serif; " class="menu_item_name">
											{{fooditem.products[0].menuDisplayName}} 
										</div>
										<div ng-show="fooditem.products[0].stockYn=='N'">
											<div style="float:right;">
												<div class="out_of_stock">
													Out of Stock
												</div>
											</div>
										</div>
										<div ng-show="fooditem.products[0].stockYn=='Y'">
											<!-- <div style="float:right;">
												<div style="width:60px; height:26px;font-size:14px;padding-top:2px;border:1px solid #67baca; border-radius: 3px 3px 3px 3px; text-align:center;background:#67baca; color:white;"  ng-show="!fooditem.products[0].isExpanded;" ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;">
													ADD
												</div>
											</div> -->
											<div style="height:26px;float:right;text-align:right;">
												<div style="float:left; height:22px; width:22px; border-radius:11px 11px 11px 11px; background:#e64539; " ng-click="event.removeCheckList($index,cat.name,fooditem.products[0]);">
													<div style="margin-top:1px;margin-left:1px;height:20px; width:20px; border-radius:10px 10px 10px 10px; background:rgba(253, 246, 246, 1);">
														<div style="width:12px; height:2px;position:relative;top:45%;left:50%;margin-left:-6px;background:#e64539;">
															
														</div>
													</div>
													<!-- <div style="width:14px; height:4px; position:relative; left:50%;top:50%; margin-left:-7px;margin-top:-2px; background:white;">
														
													</div> -->
												</div>
											 	<div style="float:left" ng-show="fooditem.products.length==1" >&emsp;{{fooditem.products[0].quantity-1}}&emsp;</div>
											 	<div style="float:left" ng-show="fooditem.products.length>1" >&emsp;{{event.quantityForOptions(fooditem.products);}}&emsp;</div>
												<div style="float:left; height:22px; width:22px; border-radius:11px 11px 11px 11px; background:#4fb66d;" ng-click="fooditem.products[0].quantity=fooditem.products[0].quantity+1;event.addCheckList($index,cat.name,fooditem.products[0]);" ng-show="fooditem.products.length==1 && cat.subCategoryName!='Salads for the soul'">
													<div style="margin-top:1px;margin-left:1px;height:20px; width:20px; border-radius:10px 10px 10px 10px; background:rgba(253, 246, 246, 1);">
														<div style="width:12px; height:2px;position:relative;top:45%;left:50%;margin-left:-6px;background:#4fb66d;">
															
														</div>
														<div style="width:2px; height:12px; position:relative; left:50%;top:11.5%; margin-left:-1px; background:#4fb66d;">
														
														</div>
													</div>
													<!-- <div style="width:14px; height:4px; position:relative; left:50%;top:50%; margin-left:-7px;margin-top:-2px; background:white;">
														
													</div>
													<div style="width:4px; height:14px; position:relative; left:50%;top:50%; margin-left:-2px;margin-top:-9px; background:white;">
														
													</div> -->
												</div>
												<div style="float:left; height:22px; width:22px; border-radius:11px 11px 11px 11px; background:#4fb66d;"  ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;event.addOnLen(fooditem.products[0]);" ng-show="fooditem.products.length>1 || cat.subCategoryName=='Salads for the soul'" >
													<div style="margin-top:1px;margin-left:1px;height:20px; width:20px; border-radius:10px 10px 10px 10px; background:rgba(253, 246, 246, 1);">
														<div style="width:12px; height:2px;position:relative;top:45%;left:50%;margin-left:-6px;background:#4fb66d;">
															
														</div>
														<div style="width:2px; height:12px; position:relative; left:50%;top:11.5%; margin-left:-1px; background:#4fb66d;">
														
														</div>
													</div>
													<!-- <div style="width:14px; height:4px; position:relative; left:50%;top:50%; margin-left:-7px;margin-top:-2px; background:white;">
														
													</div>
													<div style="width:4px; height:14px; position:relative; left:50%;top:50%; margin-left:-2px;margin-top:-9px; background:white;">
														
													</div> -->
												</div>
											</div>
										</div>
										<br>
										<div class="menu_item_price" ng-show="fooditem.products[0].price>=0">
											<p style="color:green;margin: 0px 0px 0px;">
												&#8377 {{fooditem.products[0].price}}
											</p>
										</div>
										<div class="menu_item_price" ng-show="fooditem.products[0].price==-1">
											<p style="color:green;margin: 0px 0px 0px;">
												M.R.P
											</p>
										</div>
										
										<div style="margin-left:18px;width:70%;">
											<i class="menu_item_description" ng-show="fooditem.products[0].shortDesc.length();">
												"{{fooditem.products[0].shortDesc}}"
											</i>
										</div>
										<div  style="float:right;" ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;event.addOnLen(fooditem.products[0]);" ng-show="fooditem.products[0].isExpanded==false && fooditem.products[0].addonGroups.length>0 && fooditem.products[0].stockYn=='Y' && fooditem.products.length==1">
												<div class="customize_button">
													<div>
														<!--  img src="images/downdown.png" alt=" " style="height:7px;margin-top:5px;"/-->	
														<div style="color:#67baca;border-radius:3px;border:1px solid #67baca;padding-bottom:1px;padding-left:2px;padding-right:2px">
															Customize
														</div>													
													</div>
												</div>
										</div>
										 <div style="float:right;" ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;" ng-show="fooditem.products[0].isExpanded==true">
												<div class="customize_button">
													<div>
														<!-- img src="images/upup.png" alt=" " style="height:7px;margin-top:5px;"/-->
														<!--  <div style="color:#67baca;border-radius:3px;border:1px solid #67baca;padding-bottom:1px;">
															Customize
														</div>-->
													</div>
												</div>
										</div>										
									</div>
									
									<div id="item-{{cat.name}}-{{$index}}"  ng-show="fooditem.products[0].isExpanded;">
										<div id="clearCartPopUp" style="position:fixed;top:0%;left:0%;width:100vh;height:100vh;background:grey;z-index:0;opacity:0.5;">
										
										</div>
										<div id="clearCartPopUp2-{{fooditem.products[0].productId}}" class="customize">
											<div style="padding-top:2%;padding-bottom:2%;background:orange;color:white;">Customize</div>
											<div style="padding-left:3%;padding-top:2%;padding-bottom:2%;background:#edf1f4;color:grey;text-align:left;font-family: 'Raleway', sans-serif; ">{{fooditem.products[0].menuDisplayName}}</div>
											<div style="padding-left:3%;background:#edf1f4;text-align:left;color:grey;font-size:14px;">
												<div style="width:40%;display:inline;">
													Base Price
												</div>
												<div style="width:40%;display:inline;text-align:right;float:right;padding-right:3%;">
													&#8377 {{fooditem.products[sizeOptions].price}}
												</div>
											</div>
											<div class="customize_options">
												<div ng-show="fooditem.products.length>1" >
													Select Size:
													<select ng-model="sizeOptions" ng-options="fooditem.products.indexOf(sizeOptions) as sizeOptions.variationName for sizeOptions in fooditem.products" style="font-size:13px;margin-bottom:5px;">
													</select>
												</div>
												<div ng-repeat="cust in fooditem.products[sizeOptions].addonGroups">
													<div style="padding-left:3%;padding-top:2%;padding-bottom:1%;background:#ffffff;color:grey;text-align:left;font-family: 'Raleway', sans-serif; "><strong>{{cust.name}}</strong></div>
														
														<form>										
															<div  ng-repeat="customize in cust.addOns" style="font-size:14px;text-align:left;border-bottom: 1px dotted white;color:grey;padding-left:3%;background-color:#ffffff;opacity:0.9;padding-top:2%;padding-bottom:2%; " >
																{{customize.name}}
																<!-- <label class="switch"  ng-show="{{customize.price}}"> 
																	<input  type="checkbox" ng-model="customize.selected;" ng-change='event.addOnTotal(fooditem.products[0]);'> 
																	<div class="slider round" >
																	</div> 
																</label> -->
																<label style="float:right;margin-right:3%;margin-top:1%;position: relative;display: inline-block;width: 32px;height: 18px;"  ng-show="cust.radioYn=='N'"> 
																	<input  type="checkbox" ng-model="customize.selected;" ng-change='event.addOnTotal(fooditem.products[sizeOptions]);'> 
																	
																</label>
																<label style="float:right;margin-right:3%;margin-top:1%;position: relative;display: inline-block;width: 32px;height: 18px;"  ng-show="cust.radioYn=='Y'"> 
																	<input name="addOnItems" type="radio" ng-model="customize.selected;" value="true" ng-change='event.changeOnRadio(fooditem.products[sizeOptions],customize.idaddOn); event.addOnTotal(fooditem.products[sizeOptions]);'> 															
																</label>
																<br>
																<div style="font-size:13px;">
																	&#8377 {{customize.price}}
																</div>
															
														</form>
													</div>
												</div>
											</div>
											<div style="padding-left:3%;background:#edf1f4;text-align:left;color:grey;font-size:14px;">
												<div style="width:40%;display:inline;">
													Total Price
												</div>
												<div style="width:40%;display:inline;text-align:right;float:right;padding-right:3%;">
													&#8377 {{event.addOnTot + fooditem.products[sizeOptions].price}}
												</div>
											</div>
											<div style="height:20%;padding-top:5%"  ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;" ng-show="fooditem.products[0].isExpanded==true"><div id="okClear2" style=";padding-bottom:5%;width:50%;float:left;color:#89c08d" ng-click="fooditem.products[sizeOptions].quantity=fooditem.products[sizeOptions].quantity+1;event.addCheckList($index,cat.name,fooditem.products[sizeOptions]);">Add</div><div id="cancelClear2" style="padding-bottom:5%;width:50%;float:right;color:#c22929;" ng-click="event.setSizeOptionToZero()">Cancel</div></div>
										</div>
										
										<!-- <div class="cancelAndAddToCart" >
											<div style="border-radius: 3px 3px 3px 3px; background:#cf3721; width:39.5%;text-align:center;color:white ;padding-top:2%;padding-bottom:2%;display: inline-block;" ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;event.cancelOrder(fooditem.products[0]);">
												Cancel
											</div>
											<div style="border-radius: 3px 3px 3px 3px; background:#f2c057; width:59%;text-align:center;color:white;padding-top:2%;padding-bottom:2%;display: inline-block; float:right;" ng-click="fooditem.products[0].isExpanded=!fooditem.products[0].isExpanded;event.addCheckList($index,cat.name,fooditem.products[0]);">
												Add to Cart
											</div>
										</div> -->
									</div>
								
								</div>

						</li>
					</ul>
				

				</div>
				
				<div class="clearfix"> </div>
				
			
</div>
<div style="padding-top:140px;">
</div>
</div>

<script>
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);   // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);  // Else fade out the arrow
    }
});

$('#return-to-top').on('mousedown',function(){

$(this).find('i').animate({top: '-=6'},1);


});
$('#return-to-top').on('mouseup',function(){

$(this).find('i').delay( 800 ).animate({top: '+=6'},1);

});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);


});

</script>
<script>
	$(document).ready(function()
		{
			$("#menubutton").css({"opacity":"1","pointer-events": "auto","cursor": "pointer"});
		})
		$("#cancelClear").click(function(){
		$("#clearCartPopUp").css({display:'none'});
		$("#clearCartPopUp2").css({display:'none'});
		})
		$("#okClear").click(function(){
			$("#clearCartPopUp").css({display:'none'});
			$("#clearCartPopUp2").css({display:'none'});
		})
</script>
