<a id="fullcart" style="z-index:12;" ui-sref="login" ng-click="event.toast=!event.toast;"><i><img src="images/totalcart.png" alt=" " / ></i></a>

<a id="return-to-top" style="z-index:11; "><i><img src="images/up.png" alt=" " / ></i></a>

<a id="checkcart" style="z-index:11;" ui-sref="cart" ><i><img src="images/cart5.png" alt=" " / ></i></a>

<a id="totalorder" style="z-index:3; " ><div style="float:left;"><b>Qty:{{event.totalQuantity}}</b></div><div style="float:right;"><b>₹:{{event.totalCost}}.00</b></div></a>

<a id="returnBackTo" style="z-index:12;" ui-sref="restaurant"><i><img src="images/returnbackto.png" alt=" " / ></i></a>


<div style="padding-top:20px;">
</div>
<div class="banner-info" ng-repeat="cat in event.foodItems"  style="margin-left:7px;margin-right:7px;">
				<div class=" header-right">
					<h6 id=" {{cat.name}}" style="text-align:left;padding-left:2%;">{{cat.name}} <img src="{{cat.imgUrl}}" style="float:right; height:35px; margin-right:3%; margin-top:-3%;"></h6>

					<ul class="address">
					
					    <li ng-repeat="fooditem in cat.products track by $index" >
					    		
								<div  style="border-bottom: 1px dotted #AFAFAF;" >

									<div id="div-{{cat.name}}-{{$index}}" style="color:#525a54; padding-left:2%; padding-top:2%; padding-bottom:3%;padding-right:3%;">
										<div style="float:left;opacity:0.8; margin-top:6px;" ng-show="fooditem.vegYn=='Y'" >
											<div style="width:12px; height:12px;border:1px solid #4fb66d; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#4fb66d;">
													
												</div>
											
											</div>
										</div>
										<div style="float:left;opacity:0.8; margin-top:6px;" ng-show="fooditem.vegYn=='N'" >
											<div style="width:12px; height:12px;border:1px solid #cf3721; border-radius: 1px 1px 1px 1px; text-align:center;">
												<div style="position:relative; left:50%; margin-left:-3px;top:50%; margin-top:-3px; width:6px; height:6px; border-radius: 6px 6px 6px 6px; background:#cf3721;">
													
												</div>
											
											</div>
										</div>
										<div style="float:left; width:60%; margin-left:6px; ">
											{{fooditem.name}} 
										</div>
										<div ng-show="fooditem.stockYn=='N'">
											<div style="float:right;">
												<div style="width:80px; height:26px;font-size:12px;padding-top:3px;border:1px solid #67baca; border-radius: 3px 3px 3px 3px; text-align:center; color:#67baca;">
													Out of Stock
												</div>
											</div>
										</div>
										<div ng-show="fooditem.stockYn=='Y'">
											<div style="float:right;">
												<div style="width:60px; height:26px;font-size:14px;padding-top:2px;border:1px solid #67baca; border-radius: 3px 3px 3px 3px; text-align:center;background:#67baca; color:white;"  ng-show="!fooditem.isExpanded;" ng-click="fooditem.isExpanded=!fooditem.isExpanded;">
													ADD
												</div>
											</div>
											<div style="float:right;text-align:right;" ng-show="fooditem.isExpanded;">
												<img src="images/minus.png" style="padding-right=30%;" ng-click="event.decreaseItemCount(fooditem);">
											 	&emsp;{{fooditem.quantity}}&emsp;
												<img src="images/plus.png" ng-click="fooditem.quantity=fooditem.quantity+1;"> 
											</div>
										</div>
										<br>
										<div style="font-size:14px;clear:both;width:60%;margin-left:18px;">
											&#8377.{{fooditem.price}}
										</div>
										
										<div style="margin-left:18px;">
											<i style="font-size:12px;">
												"{{fooditem.shortDesc}}"
											</i>
										</div>
										
									</div>

									<div id="item-{{cat.name}}-{{$index}}"  ng-show="fooditem.isExpanded;">

										<div  ng-repeat="customize in fooditem.addOns" style="border-bottom: 1px dotted white;color:grey;padding-left:2%;background-color:#fdf6f6;opacity:0.9;padding-top:2%;padding-bottom:4%; " >
											{{customize.name}}
											<label class="switch" > 
												<input type="checkbox" ng-model="customize.selected;"> 
												<div class="slider round" >
												</div> 
											</label>
											<br>
											<div style="font-size:13px;">
												&#8377.{{customize.price}}
											</div>
										</div>


										<div style="opacity:0.9;  margin-bottom:3%;" >
											<div style="border-radius: 3px 3px 3px 3px; background:#cf3721; width:39%;text-align:center;color:white ;padding-top:2%;padding-bottom:2%;display: inline-block" ng-click="fooditem.isExpanded=!fooditem.isExpanded;event.cancelOrder(fooditem);">
												Cancel
											</div>
											<div style="border-radius: 3px 3px 3px 3px; background:#f2c057; width:59%;text-align:center;color:white;padding-top:2%;padding-bottom:2%;display: inline-block" ng-click="fooditem.isExpanded=!fooditem.isExpanded;event.addCheckList($index,cat.name,fooditem);">
												Add to Cart
											</div>
										</div>
									</div>
								
								</div>

						</li>
					</ul>
				

				</div>
				
				<div class="clearfix"> </div>
			
</div>


<script>
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);   // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);  // Else fade out the arrow
    }
});

$('#return-to-top').on('mousedown',function(){

$(this).find('i').animate({top: '-=6'},1);


});
$('#return-to-top').on('mouseup',function(){

$(this).find('i').delay( 800 ).animate({top: '+=6'},1);

});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);


});


</script>
<script>
	$(document).ready(function()
		{
			$("#menubutton").css({"opacity":"1","pointer-events": "auto","cursor": "pointer"});
		})
</script>
